dask
cuml
gdal
geopandas
geopy
h5py
hydra-core
ipykernel
imbalanced-learn
notebook
numpy
ogr
openpyxl
pandas
pillow
pytorch-lightning
rasterio
requests
scikit-learn
segmentation-models-pytorch
torch
torchgeo
torchmetrics
torchvision
tqdm
whitebox
